div.app
{
    height: 100%;

    div.appLogo
    {
        position: fixed;
        right: 10px;
        bottom: 10px;
        display: flex;
        filter: opacity(0.1);
        z-index: -1;

        svg.appIcon
        {
            width: 50px;
            height: 50px;
        }

        span.appText
        {
            padding: 0 8px;
            text-align: right;
            display: flex;
            align-items: center;
        }
    }
}